<template>
  <router-view />
</template>

<script>
// import { onBeforeMount, onMounted, onBeforeUpdate, onUpdated, onUnmounted } from 'vue'
// import { onErrorCaptured, onRenderTriggered, onActivated, onDeactivated } from 'vue'
export default {
  name: "App",
  // setup() {
  //   onBeforeMount(() => {
  //     console.log("onBeforeMount!");
  //   });
  //   onMounted(() => {
  //     console.log("onMounted!");
  //     // store.commit("increment");
  //     console.log(this.$store.state.count);
  //   });
  //   onBeforeUpdate(() => {
  //     console.log("onBeforeUpdate!");
  //   });
  //   onUpdated(() => {
  //     console.log("onUpdated!");
  //   });
  //   onUnmounted(() => {
  //     console.log("onUnmounted!");
  //   });
  //   onErrorCaptured(() => {
  //     console.log("onErrorCaptured!");
  //   });
  //   onRenderTriggered(() => {
  //     console.log("onRenderTriggered!");
  //   });
  //   onActivated(() => {
  //     console.log("onActivated!");
  //   });
  //   onDeactivated(() => {
  //     console.log("onDeactivated!");
  //   });
  // },
};
</script>

<style>
</style>
